<?xml version="1.0"?>
<!--
/**
 * @category Mokadev
 * @package Mokadev_OpenGraph
 */
-->
<config>
    <sections>
        <general>
            <groups>
                <opengraph translate="label" module="opengraph">
                    <label>OpenGraph</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label" module="opengraph">
                            <sort_order>10</sort_order>
                            <label>Is active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>                            
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <sitename translate="label" module="opengraph">
                            <label>Site name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sitename>
                        <appid translate="label" module="opengraph">
                            <label>Facebook App id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </appid>
                        <adminid translate="label" module="opengraph">
                            <label>Facebook admins list</label>
                            <comment>Admin ids comma separated list</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </adminid>
                        <sitetitle translate="label" module="opengraph">
                            <label>Site title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </sitetitle>
                       <description translate="label" module="opengraph">
                            <label>Site description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <image translate="label" module="opengraph">
                            <label>Default image</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image>                        
                    </fields>
                </opengraph>
            </groups>
        </general>
    </sections>
</config>